.site-title {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.site-logo {
  height: 1em;        // same height as text
  width: auto;
  vertical-align: middle;
}

body {
  background-color: #f8dace; // change to any color you want
}
